<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="main-section">
        <div class="layout-px-spacing">
          <div class="row layout-top-spacing">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="dash-widgit mb-3 mt-3">
                <img src="assets/img/drIcon.png" class="dash-icon" style="top: -38px;">
                <div class="welname">
                  <p>Hey Doctor!<Br>
                    <span>Hope you have Greate day today!</span>
                  </p>
                </div>
                <img src="assets/img/humanIcon.png" class="dash-right-icon" style="top: -38px;z-index: 2;">
                <img src="assets/img/undraw-doctors.png" class="dash-right-icon" style="top: -4px;
                  height: 62px;
                  width: 217px;
                  z-index: 1;">
              </div>
            </div>
          </div>
          <div class="row layout-top-spacing mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <label>Your Articles</label>
              <button type="button" class="btn btn-primary float-right" routerLink='/article'>
                <i class="fas fa-plus-circle"></i> 
                Add Article
              </button>
            </div>
          </div>
          <div class="my-patient" id="subscriptionPlanPage">
            <div class="row mb-3">
              <div class="col-md-8">
               <div id="articleText">
                <img src="assets/img/default.jpg">
                 <span>Advantage of Zinc to fight corona</span>
               </div>
              </div>
              <div class="col-md-4">
                <div class="text-right publisText">
                   <p>Posted on 23 Oct 2020</p>
                   <a href="javascript:void()">Published</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  END CONTENT AREA  -->
    </div>
  </div>
  <!-- END MAIN CONTAINER -->