<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="main-section">
        <div class="layout-px-spacing">
          <div class="row layout-top-spacing">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="dash-widgit mb-4 mt-3">
                <img src="assets/img/drIcon.png" class="dash-icon" style="top: -38px;">
                <div class="welname">
                  <p>Hey Doctor!<Br>
                    <span>Hope you have Greate day today!</span>
                  </p>
                </div>
                <img src="assets/img/humanIcon.png" class="dash-right-icon" style="top: -38px;z-index: 2;">
                <img src="assets/img/undraw-doctors.png" class="dash-right-icon" style="top: -4px;
                height: 62px;
                width: 217px;
                z-index: 1;">
              </div>
            </div>
          </div>
          <div class="row layout-top-spacing">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <label>News Feed</label>
            </div>
          </div>

          <div class="row layout-top-spacing">
            <div class="col-md-8">
                <div class="my-patient">
                 <div class="news-heading-banner">
                     <img src="assets/img/news-banner.jpg">
                     <p>News Heading</p>
                   </div>
                   <p>
                       Lorem ipsum dollar sit amet, consectur adipiscuses elit. Maesuseas mollis, odio a rhoncus aliquam. libreo metues pharets siue tis assk ksier irrers skir lorem ipushm dollar site, amete riaksin skwsswwek.
                       Lorem ipsum dollar sit amet, consectur adipiscuses elit. Maesuseas mollis, odio a rhoncus aliquam. libreo metues pharets siue tis assk ksier irrers skir lorem ipushm dollar site, amete riaksin skwsswwek.
                   </p>
                   <p>
                    Lorem ipsum dollar sit amet, consectur adipiscuses elit. Maesuseas mollis, odio a rhoncus aliquam. libreo metues pharets siue tis assk ksier irrers skir lorem ipushm dollar site, amete riaksin skwsswwek.
                    Lorem ipsum dollar sit amet, consectur adipiscuses elit. Maesuseas mollis, odio a rhoncus aliquam. libreo metues pharets siue tis assk ksier irrers skir lorem ipushm dollar site, amete riaksin skwsswwek.
                </p>
                <p>
                    Lorem ipsum dollar sit amet, consectur adipiscuses elit. Maesuseas mollis, odio a rhoncus aliquam. libreo metues pharets siue tis assk ksier irrers skir lorem ipushm dollar site, amete riaksin skwsswwek.
                    Lorem ipsum dollar sit amet, consectur adipiscuses elit. Maesuseas mollis, odio a rhoncus aliquam. libreo metues pharets siue tis assk ksier irrers skir lorem ipushm dollar site, amete riaksin skwsswwek.
                </p>
                <p>
                    Lorem ipsum dollar sit amet, consectur adipiscuses elit. Maesuseas mollis, odio a rhoncus aliquam. libreo metues pharets siue tis assk ksier irrers skir lorem ipushm dollar site, amete riaksin skwsswwek.
                    Lorem ipsum dollar sit amet, consectur adipiscuses elit. Maesuseas mollis, odio a rhoncus aliquam. libreo metues pharets siue tis assk ksier irrers skir lorem ipushm dollar site, amete riaksin skwsswwek.
                </p>
                </div>
            </div>
            <div class="col-md-4">
              <div class="news-input-search">
                  <input type="text" placeholder="Related Search">
              </div>
              <div class="news-search">
                <div class="news-search-list">
                  <img src="assets/img/90x90.jpg">
                  <div>
                      <h5>News Heading</h5>
                      Lorem Ipsum dollar sit amet.
                      Lorem Ipsum dollar sit amet.
                  </div>
                </div>
                <div class="news-search-list">
                    <img src="assets/img/90x90.jpg">
                    <div>
                        <h5>News Heading</h5>
                        Lorem Ipsum dollar sit amet.
                        Lorem Ipsum dollar sit amet.
                    </div>
                  </div>
                  <div class="news-search-list">
                    <img src="assets/img/90x90.jpg">
                    <div>
                        <h5>News Heading</h5>
                        Lorem Ipsum dollar sit amet.
                        Lorem Ipsum dollar sit amet.
                    </div>
                  </div>
              </div>
            </div>
          </div>
        
         </div>
       </div>
      <!--  END CONTENT AREA  -->
    </div>
  </div>
<!-- END MAIN CONTAINER -->


