<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="main-section">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="dash-widgit mb-4 mt-3">
                            <img src="assets/img/drIcon.png" class="dash-icon" style="top: -38px;">
                            <div class="welname">
                                <p>
                                    Hey Doctor!<Br>
                                    <span>Hope you have Greate day today!</span>
                                </p>
                            </div>
                            <img src="assets/img/humanIcon.png" class="dash-right-icon" style="top: -38px;z-index: 2;">
                            <img src="assets/img/undraw-doctors.png" class="dash-right-icon" style="top: -4px;
                height: 62px;
                width: 217px;
                z-index: 1;">
                        </div>
                    </div>
                </div>
                <div class="row layout-top-spacing">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <label>Buy Subscription</label>
                    </div>
                </div>
                <div class="my-patient">
                    <div class="row mb-3" id="cartCheckoutCommon">
                        <div class="col-md-8">
                            <p class="ruller mb-3">Cart Details</p>
                            <div class="card-container mb-3">
                                <div class="car-left-box px-2">
                                    {{planDetail?.subName}} 
                                    <span>Valid till {{planDetail?.validity}} {{validityNamePro}}</span>
                                </div>
                                <div>
                                <button (click)="decreaseSub()">-</button>
                                <span>{{intialMonth}} {{validityName}}</span>
                                <button (click)="increaseSub()">+</button>
                                <span>Rs.{{intialPrice}}/-</span>
                                </div>
                                <div class="card-rs px-3">Rs.{{changePrice}}/-</div>
                            </div>
                            <!-- <p class="ruller mb-3">Promotion Balance</p>
                            <div class="card-container">
                                <div style="width: 170px;line-height: 46px;border-right: 1px solid #ccc;height: 45px;padding-right: 18px;margin-right: 43px;">5000 Messages</div>
                                <span style="width: 180px;line-height: 15px;">11/07/2020</span>
                                <span class="card-rs">Rs.5000/-</span>
                            </div> -->
                        </div>
                        <div class="col-md-4">
                            <div class="card-amount-box">
                                <p class="ruller mb-3">YOUR CART</p>
                                <div class="amount-box">
                                    <div class="row mb-3">
                                        <div class="col-md-6">Amount</div>
                                        <div class="col-md-6">Rs. {{changePrice}}</div>
                                    </div>
                                    <!-- <div class="row mb-3">
                                        <div class="col-md-6">Coupon</div>
                                        <div class="col-md-6"><input type="text" class="form-control" style="height:25px;

                                        border-radius: 2px;
                                        border: solid 0.5px #ebebeb;
                                        background-color: #ffffff;"></div>
                                    </div> -->
                                </div>
                                <div class="amount-box">
                                    <div class="row mb-3">
                                        <div class="col-md-6">Total purchases</div>
                                        <div class="col-md-6">Rs. {{changePrice}}</div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">GST</div>
                                        <div class="col-md-6" *ngIf="gst">{{gst}}%</div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">Total</div>                                        
                                        <div class="col-md-6"><strong>Rs.{{changePrice + (changePrice * gst)/100 }}</strong></div>
                                    </div>
                                </div>
                            </div>
                            <a class="checkoutNow mt-3" (click)="goToCheckout()">Checkout Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END CONTENT AREA  -->
    </div>
</div>
<!-- END MAIN CONTAINER -->


<div class="modal fade " id="resetPassword" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content setting-popup-box">
            <div class="modal-header">
                <h5 class="modal-title add-content" id="myLargeModalLabel">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-text">

                </div>
            </div>
        </div>
    </div>
</div>
