<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="main-section">
        <div class="layout-px-spacing">
          <div class="row layout-top-spacing">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="dash-widgit mb-4 mt-3">
                <img src="assets/img/drIcon.png" class="dash-icon" style="top: -38px;">
                <div class="welname">
                  <p>
                    Hey Doctor!<Br>
                    <span>Hope you have Greate day today!</span>
                  </p>
                </div>
                <img src="assets/img/humanIcon.png" class="dash-right-icon" style="top: -38px;z-index: 2;">
                <img src="assets/img/undraw-doctors.png" class="dash-right-icon" style="top: -4px;
                  height: 62px;
                  width: 217px;
                  z-index: 1;">
              </div>
            </div>
          </div>
          <div class="row layout-top-spacing">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <label>Notification</label>
            </div>
          </div>
         <div class="my-patient">
            <div class="row mb-3">
                <div class="col-md-12">                         
                  <ol class="plansheet">
                            <li class=""><a href="javascript:void(0);">Notification</a></li>
                            <li class="">Date</li>
                           
                        </ol>
                  </div>
             </div>
             <div class="row mb-3" *ngFor="let item of notificationList">
                <div class="col-md-1 bottom-bor">                         
                
                </div>
                <div class="col-md-6 bottom-bor">                         
                    <img src="assets/img/Weblogo_icon.png" class="mr-2">
                  <span class="f-weight"> {{item.message.title}}</span>
                </div>
                <div class="col-md-4 bottom-bor">                         
                  <!--   <span style="margin-right:40px">3333-55556-6767</span>   -->
                    <span>  {{(item.uts)  | date: 'dd/MM/yyyy , HH:mm '}}</span>
                </div>
                <div class="col-md-1 bottom-bor">                         
               
                </div>
             </div>
          
             
             
             


         </div>
        </div>
      </div>
      <!--  END CONTENT AREA  -->
    </div>
  </div>
  <!-- END MAIN CONTAINER -->
  
